@import 'fonts/fonts';
:root {
    --color-main: #545454;
    --color-second: #F1CDB3;
    --color-for-dark: #FFFFFF;
    --color-btn-hover: #FDDCC4;
    --font-title: 35px;
    --background: #F6F6F6;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: var(--color-main);
}
a {
    color: var(--color-main);
    text-decoration: none;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}
.block {
    height: 100%;
    width: 100%;
}
.blackout {
    position: fixed;
    background: rgba(41, 41, 41, 0.6);
    z-index: 2;
    transition: all 0.9s;
}
.header {
    position: sticky;
    top: 0;
    height: 120px;
    width: 100%;
    background: #FFFFFF;
    z-index: 1;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 100%;
}
.logo {
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    font-weight: 400;
}
.logo-menu {
    display: none;
}
.subtitle {
    margin-top: 10px;
    padding-left: 4px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    list-style-type: none;
}
.nav-item {
    position: relative;
}
.nav-item:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 23px;
    left: -2px;
    background-color: var(--color-second);
    display: block;
    height: 3px;
    width: 102%;
}
.nav-link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    transition: 0.6s;
}
.nav-link:hover {
    color: #292929;
}
.hamburger {
    display: none;
}
.our-friends {
    height: 1342px; 
    background: var(--background);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: 200px, 930px, 167px;
    column-gap: 40px;
    row-gap: 30px;
    padding: 0 40px 0;
}
.heading {
    grid-column: 1 / 5;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}
.pets-wrapper {
    grid-column: 1 / 5;
    grid-row: 2 / 4;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
    row-gap: 30px;
}
.our-friends .heading {
    margin-top: 80px;
    padding-bottom: 29px;
    text-align: center;
}
.card {
    width: 270px;
    padding-bottom: 30px;
    background: #FAFAFA;
    border-radius: 9px;
    transition: 0.6s;
}
.card:hover {
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
}
.card:hover > .btn-transparent {
    background: var(--color-btn-hover);
    cursor: pointer;
}
.card:hover > .close {
    box-shadow: 
    inset -3.5em 0 0 0 var(--color-btn-hover),
    inset 3.5em 0 0 0 var(--color-btn-hover); 
}
.friend {
    height: 270px;
    width:100%;
    object-fit:cover;
    border-radius: 9px 9px 0px 0px;
}
.name {
    margin-top: 25px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
}
.btn-transparent {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 187px;
    height: 52px;
    border: 2px solid var(--color-second);
    border-radius: 100px;
    background: #FAFAFA;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: 0.6s;
}
.pagination {
    grid-column: -5 / -1;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-top: 29px;
}
.btn-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 52px;
    border: none;
    border-radius: 100px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.06em;
    transition: 0.6s;
    background: #F6F6F6;
}
.previous {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
}
.page {
    background-color: var(--color-second);
    color: #292929;
    transition: 0.6s;
}
.next {
    border: 2px solid var(--color-second);
    color: #292929;
    transition: 0.6s;
}
.next:hover {
    background: var(--color-btn-hover);
    box-shadow: 0px 2px 10px 10px rgba(241, 205, 179, 0.4);
    cursor: pointer;
}
.footer {
    height: 350px;
    background: url('../../assets/images/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    background-repeat: repeat;
    background-position: center 0;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 134px;
    padding: 40px 40px 0;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    column-gap: 160px;
}
.contacts-block, .locations-block {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    height: 234px;
}
.contacts-block {
    width: 279px;
}
.locations-block {
    width: 302px;
}
.footer .heading {
    color: #FFFFFF;
}
.footer-link {
    position: relative;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-second);
}
.contacts {
    margin-top: 46px;
    padding-left: 60px;
}
.contacts:nth-child(2)::before {
    content: url(../../assets/icons/icon-email.svg);
    position: absolute;
    left: 0;
    top: -7px;
}
.contacts:nth-child(3)::before {
    content: url(../../assets/icons/phone.svg);
    position: absolute;
    left: 0;
    top: -4px;
}
.locations {
    margin-top: 34px;
    padding-left: 42px;
}
.locations:nth-child(2)::before {
    content: url(../../assets/icons/icon-marker.svg);
    position: absolute;
    left: -2px;
    top: 3px;
}
.locations:nth-child(3)::before {
    content: url(../../assets/icons/icon-marker.svg);
    position: absolute;
    left: -2px;
    top: -4px;
}
.footer-img {
    display: block;
    height: 310px;
}
.remove-scroll {
    overflow: hidden;
}
.modal {
    display:none;
}
.modal-wrapper {
    margin: auto;
    position: fixed;
    top: 0px; 
    left: 0; 
    bottom: 0; 
    right: 0;
    z-index: 3;
    max-width: 900px;
    max-height: 500px;
    box-sizing: border-box;

}
.modal-inner {
    position: relative;
    display: flex;
    padding-right: 20px;
    border-radius: 9px;
    background: #FAFAFA;
}

.modal-close {
    position: absolute;
    padding-top: 12px;
    right: -39px;
    top: -51px;
    width: 50px;
    height: 50px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-size: 30px;
    font-weight: 400;
    color: #292929;
    text-align: center;
    box-sizing: border-box;
    z-index: 1;
}
.modal-close:hover {
    background: #FDDCC4;
    cursor: pointer;
    transition: all 0.8s;
}
.hover-btn {
    background: #FDDCC4;
    cursor: pointer;
    transition: all 0.8s;
}
.modal-img {
    margin-right: 29px;
    width: 500px;
    height: 500px;
    border-radius: 9px 0 0 9px;
    object-fit:cover;
}
.modal-content {
    padding-top: 51px;
}
.modal-name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
}
.type-breed {
    margin-top: 10px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
}
.modal-description, .modal-list-item {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 114%;
    letter-spacing: 0.06em;
    color: #000000;
}
.modal-description {
    margin-top: 40px;
}
.modal-list {
    margin-top: 39px;
    list-style-type: none;
}
.modal-list-item {
    position: relative;
    margin-top: 11px;
    padding-left: 15px;
    letter-spacing: 0.06em;
}
.modal-list-item::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top: 7px;
    left: 0;
    border-radius: 100%;
    background: #F1CDB3;

}
.show {
    display: block;
    transition: all 0.4s;
}
.hide {
    display: none;
    transition: all 0.4s;
}